- name: "Install and configure Avahi service-discovery"
  ansible.builtin.include_tasks: service_discovery/main.yml

- name: "Install and configure Avahi host-discovery"
  ansible.builtin.include_tasks: host_discovery/main.yml
  when: avahi_enable_host_discovery_service

