- name: "Install the 'nss-mdns' hostname resolution package"
  # see https://wiki.archlinux.org/title/CUPS#Network
  community.general.pacman:
    name: nss-mdns
    state: present
    extra_args: "--asdeps"
  become: true
  become_user: root
  notify: "{{ avahi_handler_to_restart_avahi_services }}"

- name: "In '{{ nsswitch_conf_path }}', make nss-mdns authoritative for avahi's .local domain"
  # see https://wiki.archlinux.org/title/Avahi#Hostname_resolution
  ansible.builtin.lineinfile:
    path: "{{ nsswitch_conf_path }}"
    regexp: >-
      ^hosts: (.*myhostname) (resolve.*)$
    line: >-
      hosts: \1 mdns_minimal [NOTFOUND=return] \2
    state: present
    backrefs: true
    backup: true
  become: true
  become_user: root
  notify: "{{ avahi_handler_to_restart_avahi_services }}"

